.menu {
  color: white;
  background: blue;
  font-size: 30px;
  padding: 1px 5px;
  font-weight: bold;
  font-variant:small-caps;
  line-height: 0px;
  display: inline-block;
  /* Top/bottom and Right/left */
}
.menu li {
  display: inline;
}

.menu li > a {
  color: white;
  text-decoration:none;
  font-size: 30px;
}

.menu ul {
    padding: 5px 30px;
    list-style-type: none;
}